job_*
*.mod
*.o
*.dwarf
*.sublime*
*.eps
*.dat
*.exe
*.log
*.out
project/graph
project/infile
project/infile/*
project/outfile
project/outfile/*
*.swp
*.conf
project/tools/mytop.sh
project/tools/kill_loop.sh
*tags*
